/* General */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


:root{
    font-family: 'Roboto', sans-serif;
}


body{
    background-color: rgb(243, 243, 248);
}


/* Header */
header{
    background-color: white;
    height:100px;
    vertical-align:middle;
    line-height:100px; 
}


.logo{
    line-height:100px;
    vertical-align:middle;
    margin-left: 15px;
}

H1{
    font-weight: 900;
    display: inline-block;
    vertical-align:middle;
    font-family: 'Roboto b', sans-serif;
}


/* main */
main{
   margin-top: 40px;
}

section{
    width: 90%;
    margin: auto;
}

.container{
    width: 90%;
    margin: auto;
    background-color: white;
    width: 80%;
    margin: 3px auto;    
}


/* buttons */
button{
    font-weight: 700;
padding:10px;
margin:15px auto 10px;
}


#bluebutton{
color: white;
background-color: rgb(51, 190, 255);
border-radius: 5px;
border:0 none;
}


#whitebutton{
color: rgb(165, 165, 165);
border-radius: 5px;
border:1px solid rgb(218, 218, 218);;
}


/* task section */


h3{
 font-weight: 800;
 font-size: 22px;
}

h3::before {
content: "\25BC" ;
}

.done::before{
 content:"\2705" ;
}

.undone::before{
    content:"\274C" ;
   }

.lable{
    font-size: 12px;
    text-align: center;
    color: white;
    display: inline-block;
    padding: 7px;
    border-radius: 15px;

    background-color: blue;
}

.task{
margin-top: 18px;
margin-bottom: 18px;

}